* {
  margin: 4px;
  padding: 4px;
  border: 2px solid red;
}

h1,
p,
span {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: auto;
  resize: both;
}

.tower {
  width: 150px;
  height: 280px;

  display: flex;
  flex-direction: column-reverse;

  align-items: center;
  flex: 1 1 100px;
}

.pole {
  border: 4px;
  bottom: 2px;

  width: 1px;
  height: 200px;

  background: black;
  border-radius: 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.disk {
  height: 22px;

  border-radius: 12px;

  position: absolute;
}
.s1 {
  width: 45px;
  color: red;
}
.s2 {
  width: 65px;
  color: orange;
}
.s3 {
  width: 85px;
  color: yellow;
}
.s4 {
  width: 105px;
  color: green;
}
.s5 {
  width: 125px;
  color: blue;
}
.s6 {
  width: 145px;
  color: indigo;
}
.s7 {
  width: 165px;
  color: purple;
}
.s8 {
  width: 185px;
  color: violet;
}
