* {
  margin: 4px;
  padding: 4px;
  border: 2px solid red;
}

h1,
p,
span {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: auto;
  resize: both;
}

.tower {
  width: 150px;
  height: 280px;

  display: flex;
  flex-direction: column-reverse;

  align-items: center;
  flex: 1 1 100px;
}

.pole {
  border: 4px;
  bottom: 2px;

  width: 1px;
  height: 200px;

  background: black;
  border-radius: 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
