* {
  margin: 4px;
  padding: 4px;
  border: 5px;
}

h1,
.move,
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
}

body {
  overflow: auto;
  resize: both;
}
ol {
  border: solid;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
li {
  margin-left: 30px;
}

div > span {
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px;
  height: 15px;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  border: 4px solid;
}

button{
  width: 500px;
  height: 50px;
  border: solid;
  margin-left: 25vw;
}

.tower {
  position: relative;
  width: 150px;
  height: 280px;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1 1 100px;
}

.pole {
  position: absolute;
  margin: 0;
  padding: 40;
  border: 4px;
  width: 1px;
  height: 200px;
  bottom: 42px;

  background: black;
}

.texto {
  align-items: end;
}

.s1 {
  width: 45px;
  background-color: red;
}
.s2 {
  width: 65px;
  background-color: orange;
}
.s3 {
  width: 85px;
  background-color: yellow;
}
.s4 {
  width: 105px;
  background-color: green;
}
.s5 {
  width: 125px;
  background-color: blue;
}
.s6 {
  width: 145px;
  background-color: indigo;
}
.s7 {
  width: 165px;
  background-color: purple;
}
.s8 {
  width: 185px;
  background-color: violet;
}

.selecionar {
  border: solid blue;
  border-radius: 12px;
}
